# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# vim copies
*.swp
*.swo

# documentation
sectorscope_um.aux
sectorscope_um.out
sectorscope_um.pdf
sectorscope_um.toc
structure.aux

# created content
temp_image_annotations_dir

# generated installer and zip
install/NPS-SectorScope*.exe
install/NPS-SectorScope*.zip
install/SectorScope*.exe
install/SectorScope*.zip

# unused icons
python/icons/not/*

# C extensions
*.so
*.o

# Distribution / packaging
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
/SectorScope_autopsy_plugin/nbproject/private/
